NODE_ENV=development
PORT=7070
ADMIN_PORT=7171

MONGO_URI=mongodb://localhost:27017/skyserver
JWT_SECRET=change_me

PGHOST=localhost
PGPORT=5432
PGDATABASE=skyserver_dev
PGUSER=postgres
PGPASSWORD=your_password_here

AUTH_REVOKE_SESSIONS_ON_START=true
AUTH_SESSION_MINUTES=30
